<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="header">
    <% if(user) { %>
      <h1 class="title"><%= title %></h1>
      <p>Hey <%= user.name %></p>
      <img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer">
    <% } else { %>
      <h1 class="title"><%= title %></h1>
    <% } %> 
  </div>
  
  <div class="row">
    <div class="col-3 menu">
      <ul>
        <% if (user) { %>
          <li classs="first"><a href="/users/dashboard">Dashboard</a></li>
          <li class="second"><a href="/venues">Venues and Reviews</a></li>
          <li class="third"><a href="/venues/new">Add Venue</a></li>
          <li class="fourth"><a href="/logout">Log Out</a></li>
        <% } else { %>
          <li class="first"><a href="/auth/google">Log in or Join the team</a></li>
          <li class="second"><a href="/venues">Venues and Reviews</a></li>
        <% } %>
      </ul>
    </div>
  
    <div class="col-6">
      <h3 class="about">About InclusiveDine</h3>
      <p class="about">Promoting venues adopted for those that require mobility assistance.<br>
      Add a venue and tell us how you found its accessibility.</p>
    </div>
  
    <div class="col-3 right">
      <div class="aside">
        <h3>Frequently asked questions</h3>
        <h4>What do we mean by mobility assistance?</h4>
        <p>Someone living with reduced mobility and requires a mobility aid such as crutches, walking stick or frame, or a wheelchair.</p>
        <h3>Why this is important?</h3>
        <p>Having a society accessible to us all promotes community and diversity.</p>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Contact us: inclusiveDine@gmail.com</p>
  </div>
</body>
</html>
