<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="header">
    <h1 class="title"><%= title %></h1>
    <p>Welcome <%= user.name %></p>
    <img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer">
  </div>
  
  <div class="row">
    <div class="col-3 menu">
      <ul>
        <a href="/"><li class="first">Home</li></a>
        <% if (user) { %>
          <a href="/venues"><li class="second">Venues and Reviews</li></a>
          <a href="/venues/new"><li class="third">Add Venue</li></a>
          <a href="/logout"><li class="fourth">Log Out</li></a>
        <% } else { %>
          <a href="/auth/google"><li class="first">Log in or Join the team</li></a>
          <a href="/venues"><li class="second">Venues and Reviews</li></a>
        <% } %>
      </ul>
    </div>
  
    <div class="col-6">
      <% if (reviewShow.length) { %>
        <h3 class="title">Your Reviews</h3>
        <% reviewShow.forEach(function(r) { %>
          <div class="showReviwForm">  
            <h3><%= r.venueName %></h3>
            <p>Wheel chair adopted: <i><%= r.wheelChairAdopted %></i></p>
            <p>Wheel chair friendly: <i><%= r.wheelChairFriendly %></i></p>
            <p>Designated disable parking: <i><%= r.designatedDisableParking %></i></p>
            <p>Easy parking nearby: <i><%= r.easyParkingNearby %></i></p>
            <p>Hills on approach: <i><%= r.hillsOnApproach %></i></p>
            <p>Uneven ground on approach: <i><%= r.unevenPavementOnApproach %></i></p>
            <p>Vegan friendly options: <i><%= r.veganFriendly %></i></p>
            <p>Gluten free options: <i><%= r.glutenFree %></i></p>
            <p>Comments: <i><%= r.comment %></i></p>
            <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
              <button class="dashboardButton" type="submit">Delete</button>
            </form>    
            <a href="/users/<%= r._id %>/edit">
              <button class="dashboardButton" type="submit">Edit</button>
            </a>
          </div>
        <% }) %>
      <% } else { %>
        <p>You have no reviews. Head to the Venues and Reviews page to add one</p>
      <% } %>
    </div>
  </div>
</body>
</html>
