<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="header">
        <h1 class="title"><%= title %></h1>
        <p>Welcome to <%= title %></p>
      </div>
      
      <div class="row">
        <div class="col-3 menu">
          <ul>
          <li class="first"><a href="/">Home</a></li>
          <li><a href="/venues">Edit review (need to set up)</a></li>
          <li><a href="/venues/new">Add Venue</a></li>
          <a href="/logout"><li>Log Out</li></a>
          </ul>
        </div>
      
        <div class="col-6">
          <h1>Your Reviews</h1>
          <% if (reviewShow.length) { %>
            <table class="table">
            <thead>
              <tr>
                <th>User</th>
                <th>Venue name</th>
                <th>Wheelchair adpoted?</th>
                <th>Wheelchair friendly?</th>
                <th>Designated disable parking?</th>
                <th>Easy parking nearby? </th>
                <th>Hills on approach?</th>
                <th>Uneven pavement on approach?</th>
                <th>Vegan friendly options?</th>
                <th>GlutenFree options?</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>

            </tbody>
            <% reviewShow.forEach(function(r) { %>
            <tr>
              <td class="review-user"><img alt="avatar" src="<% r.userAvatar %>" referrerpolicy="no-referrer"><% r.userName %></td>
              <td><%= r.venueName %></td>
              <td><%= r.wheelChairAdpoted %></td>
              <td><%= r.wheelChairFriendly %></td>
              <td><%= r.designatedDisableParking %></td>
              <td><%= r.easyParkingNearby %></td>
              <td><%= r.hillsOnApproach %></td>
              <td><%= r.unevenPavementOnApproach %></td>
              <td><%= r.vegenFriendly %></td>
              <td><%= r.GlutenFree %></td>
              <td><%= r.comment %></td>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit" >Delete</button>
                </form>
            </tr>
            
         <% }) %>
        <% }; %>
        </div>
      
        <div class="col-3 right">
          <div class="aside">
            <h2>FAQ</h2>
            <h2>What do we mean by mobility assistance?</h2>
            <p>Generally speaking..</p>
            <h2>Why this is important?</h2>
            <p>Creating an inclusive society is not only good for individuals well being but also for econimic growthh and resilence</p>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>Contact us: inclusiceDine@gmail.com</p>
      </div>
      
  </body>
</html>
