<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="header">
        <h1 class="title"><%= title %></h1>
        <p>Welcome <%= user.name %></p>
        <table class="table">
            <thead>
              <tr>
                <th>Wheelchair adpoted?</th>
                <th>Wheelchair friendly?</th>
                <th>Designated disable parking?</th>
                <th>Easy parking nearby? </th>
                <th>Hills on approach?</th>
                <th>Uneven pavement on approach?</th>
                <th>Vegan friendly options?</th>
                <th>Gluten free options?</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
            <tr>
            <p>Welcome <%= singleReview[0]._id %></p>
              <td><%= singleReview[0].wheelChairAdpoted %></td>
              <td><%= singleReview[0].wheelChairFriendly %></td>
              <td><%= singleReview[0].designatedDisableParking %></td>
              <td><%= singleReview[0].easyParkingNearby %></td>
              <td><%= singleReview[0].hillsOnApproach %></td>
              <td><%= singleReview[0].unevenPavementOnApproach %></td>
              <td><%= singleReview[0].vegenFriendly %></td>
              <td><%= singleReview[0].GlutenFree %></td>
              <td><%= singleReview[0].comment %></td>
            </tr>
            <label for="checkbox" id="addReview">Add a review</label>
            <input type="checkbox" id="checkbox" />
                <div id="reviewForm">
                  <form id="edit" action="?_method=PUT" method="POST">
                    
                      <input type="hidden" name="venueName" value="<%= singleReview[0].venueName %>">

                      <input type="checkbox" id="wheelChairAdopted" name="wheelChairAdopted" value="singleReview[0].wheelChairAdopted">
                      <label for="wheelChairAdopted">Wheelchair adopted?</label><br>

                      <input type="checkbox" id="wheelChairFriendly" name="wheelChairFriendly" value="singleReview[0].wheelChairFriendly">
                      <label for="wheelChairFriendly">Did you find it wheelchair friendly?</label><br>

                      <input type="checkbox" id="designatedDisableParking" name="designatedDisableParking" value="singleReview[0].designatedDisableParking">
                      <label for="designatedDisableParking">Was there designated disabled parking nearby?</label><br>

                      <input type="checkbox" id="easyParkingNearby" class="addReview" name="easyParkingNearby" value="singleReview[0].easyParkingNearby">
                      <label for="easyParkingNearby">Was there easy parking options nearby?</label><br>

                      <input type="checkbox" id="hillsOnApproach" class="addReview" name="hillsOnApproach" value="singleReview[0].hillsOnApproach">
                      <label for="hillsOnApproach">Were there hills on approach to the venue?</label><br>

                      <input type="checkbox" id="unevenPavementOnApproach" class="addReview" name="unevenPavementOnApproach" value="singleReview[0].unevenPavementOnApproach">
                      <label for="unevenPavementOnApproach">Uneven pavement on approach?</label><br>

                      <input type="checkbox" id="veganFriendly" class="addReview" name="veganFriendly" value="singleReview[0].veganFriendly">
                      <label for="veganFriendly">Vegan friendly options?</label><br>

                      <input type="checkbox" id="glutenFree" class="addReview" name="glutenFree" value="singleReview[0].glutenFree">
                      <label for="glutenFree">Gluten free options?</label><br>

                      <label for="comment">Share any other feedback?</label><br>
                      <input type="text" id="comment" class="addReview" name="comment">
                      <button type="submit">Add</button>

                    
                </form>
                </div>
      
        <div class="col-3 right">
          <div class="aside">
            <h2>FAQ</h2>
            <h2>What do we mean by mobility assistance?</h2>
            <p>Generally speaking..</p>
            <h2>Why this is important?</h2>
            <p>Creating an inclusive society is not only good for individuals well being but also for econimic growthh and resilence</p>
          </div>
        </div>
      </div>
      <div class="footer">
        <p>Contact us: inclusiveDine@gmail.com</p>
      </div>
      
  </body>
</html>
